.DS_Store
.env
## Byte-compiled
__pycache__/
*.py[cod]
*$py.class
# Sphinx documentation
docs/_build/
coderefinery

.ipynb_checkpoints/
.Rhistory


## folders created for the git collaborative lesson 
centralized-workflow-exercise
forking-workflow-exercise

## folders created for the jupyter lesson
jupyterlab-demo

